@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body * {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form_main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_main input{
  border: 1px solid #D7DAE4;
  border-radius: 6px;
  padding: 10px 16px;
  margin: 6px 0 0 0;
}
.form_main input:not(input[type="submit"]):focus{
  border: 1px solid #FFD445;
}
.sml_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin: 40px 0 0 0;
}
.form{
  margin: 63px 0 0 0;
}
.form_block{
  display: flex;
  flex-direction: column;
  width: 315px;
}
.form_block label{
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4D475C;
}
.form >*:nth-child(n+2){
  margin: 25px 0 0 0;
}
.error_text{
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #E74143;
}

.form_block input.error{
  background: rgba(231, 65, 67, 0.1);
  border: 2px solid #E74143;
}
.form_block input.success{
  position: relative;
  background: calc(100% - 10px) 50% / 11px 8px no-repeat url(./success.svg);
}

.form_main input[type="submit"]{
  background: #FFFFFF;
}

@media screen and (max-width: 565px){
  .form_block, .form{
    width: 100%;
  }
}